@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Moje QUIZY i Formularze</h1>
    <a href="/home/quiz1/">Quiz 1</a>
    <a href="/home/form3/">Form 3</a>
    <a href="/home/form4/">Form 4</a>
    <a href="/home/form6/">Form 6</a>
    <a href="/home/form7/">Form 7</a>
    <a href="/home/poryrokujezyki/">Pory Roku Jezyki</a>
</div>
