
@{
    ViewData["Title"] = "Quiz1";
}

<h1>Quiz 1</h1>

<h1>Jaka jest stolica Polski?</h1>
<a href="/home/quiz1?odpowiedz=krakow" class="btn btn-primary">Kraków</a>
<a href="/home/quiz1?odpowiedz=warszawa" class="btn btn-primary">Warszawa</a>
<a href="/home/quiz1?odpowiedz=gniezno" class="btn btn-primary">Gniezno</a>

@ViewBag.odpowiedz

